#header {
  text-align: center;
}

.div-form {
  border: 3px solid black;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

#textarea-resp {
  width: 100%;
  resize: none;
}

#button-send {
  margin-top: 20px;
  margin-left: 520px;
}